@import 'https://fonts.googleapis.com/css?family=Exo+2:400,600|Roboto:400,500';
p {
	font-family: 'Roboto', sans-serif;
}
h3 {
	font-family: 'Exo 2', sans-serif;
	font-weight: 600;
}
h4 {
	font-family: 'Exo 2', sans-serif;
}
@font-face {
	font-family: 'headingfont2d';
	src: url('../fonts/2Dumb.ttf') format('truetype');
}
@font-face {
	font-family: 'headingfont3d';
	src: url('../fonts/3Dumb.ttf') format('truetype');
}
.navbar {
	border: none;
	box-shadow: 2px 2px 1px 0 rgba(0,0,0,.15);
}
.navbar-brand {
	height: 80px;
}
.nav >li >a {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
}
.navbar-default {
	background-color: #fff;
}
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
	color: #000;
	font-family: 'Exo 2', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
span.glyphicon.glyphicon-user, span.glyphicon.glyphicon-briefcase, span.glyphicon.glyphicon-earphone {
	font-size: 1em;
	color: #333;
	margin-right: 5px;
}
/* Sweep To Top navigation links */
.hvr-sweep-to-top {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.link1:before {
	background: #52B677;
}
.link2:before {
	background: #ED2757;
}
.link3:before {
	background: #41b7d8;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
	color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}
 
/*new banner*/
.bannerheader {
	background: url(../images/grid-tile.jpg) repeat;
	margin-top: 80px;
	text-align: center;
}
.col-md-3 {
	margin-top: 5%;
}
/*new banner*/

#heading1 {
	font-family: 'headingfont3d';
	font-size: 3.3em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5%;
	color: #ed2958;
}
#heading2 {
	font-family: 'headingfont2d';
	font-size: 1.3em;
	font-smoothing: antialiased;
	font-weight: bold;
	margin-bottom: 5%;
}
#heading3 {
	font-family: 'headingfont2d';
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 5%;
}
#headbutton {
	font-family: 'headingfont3d';
	font-size: 3.3em;
	font-weight: bold;
	margin-bottom: 5%;
}
#headbutton a {
	margin-right: 10px;
	color: #000;
	text-decoration: none;
}
#heading4 {
	font-family: 'headingfont3d';
	font-size: 2.3em;
	font-weight: bold;
}
span.glyphicon.glyphicon-triangle-bottom {
	font-size: 3em;
	color: #000;
	margin-top: 0.5em;
}
.borderstrip {
	width: 100%;
}
hvr-float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}
/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
 16.65% {
 -webkit-transform: translateX(8px);
 transform: translateX(8px);
}
 33.3% {
 -webkit-transform: translateX(-6px);
 transform: translateX(-6px);
}
 49.95% {
 -webkit-transform: translateX(4px);
 transform: translateX(4px);
}
 66.6% {
 -webkit-transform: translateX(-2px);
 transform: translateX(-2px);
}
 83.25% {
 -webkit-transform: translateX(1px);
 transform: translateX(1px);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
 @keyframes hvr-wobble-horizontal {
 16.65% {
 -webkit-transform: translateX(8px);
 transform: translateX(8px);
}
 33.3% {
 -webkit-transform: translateX(-6px);
 transform: translateX(-6px);
}
 49.95% {
 -webkit-transform: translateX(4px);
 transform: translateX(4px);
}
 66.6% {
 -webkit-transform: translateX(-2px);
 transform: translateX(-2px);
}
 83.25% {
 -webkit-transform: translateX(1px);
 transform: translateX(1px);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
.hvr-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.col-lg-12 {
	padding: 0;
	margin: 0;
}
hr.style-two {
	width: 30%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #000, transparent);
}
.services-section {
	border-top: 1px solid #fefbe1;
	padding-top: 100px;
	text-align: center;
	background-color: #fff;
	color: #000;
}
.services-header {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
.services-header h3 {
	font-size: 2.5em;
	text-transform: uppercase;
	color: #2a404e;
}
.services-header p span {
	padding-top: 10px;
	display: inline-block;
	text-decoration: underline;
}
.services-header p {
	line-height: 1.5em;
	font-size: 1.3em;
	padding: 25px 0;
	color: #7e7e7e;
}
.services-sectiongrids {
	text-align: center;
}
.services-grid h4 {
	font-size: 1.4em;
	font-weight: bold;
	padding: 15px 0;
	text-transform: uppercase;
}
.services-grid p {
	font-size: 1.3em;
	padding: 0 22px;
	color: #7e7e7e;
}
span.glyphicon.glyphicon-pencil, span.glyphicon.glyphicon-align-left, span.glyphicon.glyphicon.glyphicon-print {
	font-size: 2em;
	color: #ED2757;
	border-radius: 50px;
	border: 3px solid;
	padding: 1em;
}
span.glyphicon.glyphicon-chevron-down {
	font-size: 1.5em;
	color: #F90;
	border-radius: 10px;
	border: 2px solid;
	padding: 0.5em;
}
.about-section {
	padding-top: 100px;
}
.about-header {
	text-align: center;
}
.about-header h3 {
	font-size: 2.5em;
	text-transform: uppercase;
	color: #2a404e;
}
.about-header h3 span {
	color: #F0C514;
}
.about-imag {
	float: left;
	width: 27%;
	margin-right: 5%
}
.about-imag img {
	border: 2px solid #41b7d8;
	border-radius: 103px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.about-text {
	float: left;
	width: 65%;
	margin-top: 3%;
}
.about-text p {
	font-size: 1.3em;
	color: #7e7e7e;
	line-height: 1.5em;
}
.about-sectiongrids {
	text-align: center;
	padding: 40px 150px;
}
.about-grid {
	text-align: center;
}
.arrow {
	padding-top: 15px;
	text-align: center;
}
footer {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 50px 0;
}
.footer_nav a {
	font-weight: 500;
	margin-right: 20px;
}
.footer_nav a:hover, .footer_nav a:focus, .footer_nav a:visited {
	color: #000;
}
